<html>
    <head>
        <title>Create Sports Room</title>
    </head>
    <body>
        <h1>Sports Room</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for message in get_flashed_messages() %}
            {{ message }}
            {% endfor %}
            </br>
            {{ form.name.label }}: {{ form.name() }}<br>
            {% if form.side.choices %}
              {{ form.side.label }}: {{ form.side() }}<br>
            {% endif %}
            {{ form.submit() }}
        </form>
        <h2>Already have a room link? Enter it <a href = "{{ url_for('.joinRoom') }}">here.</h2>
    </body>
</html>
