<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

        <title>Invite Friends</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Custom styles for this template -->
     <link href="/static/css/oleole.css" rel="stylesheet">
     <link rel="stylesheet" href="/static/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <style>
       body.masthead{
         background-image: url("/static/img/bg.jpg");
       }
       #submit{
         background-color: #007bff;
         border: transparent;
         padding: 10px;
       }
     </style>

</head>

<body class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 my-auto onboarding-panel rounded">
          <h3>INVITE YOUR FRIENDS</h3>
          <div class="media2" style="margin-top: 60px">
            <label for="streamLink">Share this room code with whoever you want to watch the match with</label>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="streamLink" value="{{ url }}">
            </div>
          </div>
          <div class="media2-end text-center" style="margin-top: 76px">
            <a href="">
              <form method="POST" action='{{ url_for('.chat') }}'>
                {{ form.submit(class_="btn btn-secondary") }}
              </form>
          </a>
         </div>
       </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
</body>
</html>
